.top{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bottom{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-body{
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding-bottom: 40px;
}
.head{
  font-size: 25px;
}
.price{
  color: grey;
}
